/*background img*/
body{
	
	background-color: #00ADEF;

	
}
/*font*/
@font-face {
    font-family: Calibri;
    src: url(../font/Calibri.ttf);
}
/*login page container*/
#login{
margin-left: auto;
margin-right: auto;
width: 50;
text-align: center;

 }
#login h2{
	font-family:Calibri;
	font-size:1.5em;
	color:white;
}
 /*login text fields*/
 .textf{
 	height:100%;
 	font-size:1.5em;
 	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
 }
 /*login button */
 #loginbut{
 	margin-top:10%;
 	width:60%;
 	height:80%;
 }
 #NR{
 	display: inline-block;
 	font-family: Calibri;
 	font-size:1.3em;
 	color:white;
 	text-decoration: underline;
	margin-top: 5%;
 }

/*Logo center*/
 #logo{
 	margin-top: 10%;
 	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 73%;
	
 }
.errorMsg{
	font-family:Calibri;
	color:red;
	font-size:1em;
	display: block;
	margin-top: 10%;
}
#makeClaim{
	margin-top:30%; 
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
}
.heading{
	font-family:Calibri;
	font-size:3em;
	color:white;
	text-align: center;
	margin:0;
	margin-left: auto;
	margin-right: auto;

}
#otherTable {
	padding: 0px;
	width: auto;
	border-collapse: separate;
    border-spacing: 0px 0px;

}
#message{
	font-size: 1em;
}
#meTable {
	padding: 0px;
	width: auto;
	border-collapse: separate;
    border-spacing: 0px 0px;

}
#otherPerson{
	font-family: Calibri;
	margin-top:0;
	display: inline-block;
	color:white;
	text-align: center;
	margin-left: 1%;
}
#me{
	font-family: Calibri;
	margin-top:0;
	display: inline-block;
	color:white;
	text-align: center;
	margin-left: 17%;
}

#details{
	font-family: Calibri;
	margin-top:0;
	font-size:2em;
 	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
}
#myAddress{
	font-family: Calibri;
	margin-top:0;
	font-size:1.5em;
 	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
}
.otherText{
	padding-top: 0;
	height:35px;
 	font-size:1.5em;
 	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#register_btn{
	float: left;
}